html {
  font-size: 16px;
}

body {
  @media only screen and (max-width: 767px) {
    font-size: rem(14);
  }
  line-height: 1.4;

  min-width: 320px;
  position: relative;

  overflow: hidden;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  @media only screen and (max-width: 991px) {
    overflow: scroll;
    display: block;
    padding: var(--gap);
  }
}
